.App {
  text-align: center;
}

.App-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.bg-black {
  background-color: black;
}

.bg-green {
  background-color: green;
}

.bg-grey {
  background-color: lightgrey;
}

.bg-white{
  background-color: white;
}

.bg-yellow {
  background-color: rgb(255, 255, 114);
}

.border-green {
  border: 1px solid green;
}

.border-radius-5 {
  border-radius: 15px;
}

.d-inline-block {
  display: inline-block;
}

.large-text-size {
  font-size: large;
}

.m-bottom-30 {
  margin-bottom: 30px;
}

.m-inline-1rem {
  margin-inline: 1rem;
}

.m-inline-15rem {
  margin-inline: 15rem;
}

.m-left-5rem {
  margin-left: 5rem;
}

.m-right-4rem {
  margin-right: 4rem;
}

.m-right-9rem {
  margin-right: 9rem;
}

.m-right-16to17rem {
  margin-right: 16.5rem;
}

.m-right-18to19rem {
  margin-right: 18.5rem;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-20 {
  margin-top: 20px;
}

.medium-text-size {
  font-size: medium;
}

.p-block-5 {
  padding-block: 5px;
}

.p-block-30 {
  padding-block: 30px;
}

.p-bottom-20 {
  padding-bottom: 20px;
}

.p-inline-10 {
  padding-inline: 10px;
}

.p-inline-25rem {
  padding-inline: 25rem;
}

.t-decoration-none {
  text-decoration: none;
}

.text-danger {
  color: red;
}

.text-white {
  color: white;
}
